<% const spotify = locals.spotify %>
<% if (!spotify) { %>
<div class="home-wrapper">
    <div class="spotify-wrapper">
        <div class="buttons">
        <a href="/connect/spotify" class="button button-spotify hover-none">
            <i class="fab fa-spotify"></i>
            <span>Connect with Spotify</span>
        </a>
        </div>
    </div>
</div>
<% } else { %>
<div class="home-wrapper">
    <div class="spotify-wrapper">
        <h2 class="connected-as"><i class="fab fa-spotify"></i> Connected as: </h2>
        <div class="buttons">
            <a href="<%= spotify.href %>" class="button button-spotify hover-none" target="_blank">
                <% if (spotify.picture) { %>
                <img src="<%= spotify.picture %>" alt="avatar" class="avatar">
                <% } %>
                <span class="name"><%= spotify.name %></span>
            </a>
            <a href="/disconnect/spotify" class="button button-opaque15 hover-none">
                <span>Disconnect</span>
            </a>
        </div>
        <h3 class="upper-hr"><i class="far fa-star"></i> View your favorites:</h3>
        <div class="buttons">
            <a href="/spotify/songs" class="button button-opaque15 hover-none<% if (locals.currentPage === 'songs') {
            %>  active<% } %>">
                <span>Songs</span>
            </a>
            <a href="/spotify/artists" class="button button-opaque15 hover-none<% if (locals.currentPage === 'artists') {
            %>  active<% } %>">
                <span>Artists</span>
            </a>
            <a href="/spotify/albums" class="button button-opaque15 hover-none<% if (locals.currentPage === 'albums') {
            %>  active<% } %>">
                <span>Albums</span>
            </a>
            <a href="/spotify/playlists" class="button button-opaque15 hover-none<% if (locals.currentPage === 'playlists') {
            %>  active<% } %>">
                <span>Playlists</span>
            </a>
        </div>
        <% if (spotify.artists) { %>
        <div class="artists">
            <h3>Your favorite artists:</h3>
            <div class="artists-grid">
                <% spotify.artists.forEach(artist => { %>
                <div class="artist">
                    <div class="image">
                        <img src="<%= artist.picture %>">
                    </div>
                    <div class="info">
                        <a href="<%= artist.href %>" class="name" target="_blank"><%= artist.name %></a>
                        <ul>
                            <% artist.genres.forEach(genre => { %>
                            <li><%= genre %></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <% } %>
        <% if (spotify.playlists) { %>
        <div class="playlists">
            <h3>Your favorite playlists:</h3>
            <div class="playlists-grid">
                <% spotify.playlists.forEach(playlist => { %>
                <div class="playlist">
                    <div class="image">
                        <img src="<%= playlist.picture %>">
                    </div>
                    <div class="info">
                        <a href="<%= playlist.href %>" class="name" target="_blank"><%= playlist.name %></a>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <% } %>
        <% if (spotify.songs) { %>
        <div class="songs">
            <h3>Your favorite songs:</h3>
            <div class="songs-grid">
                <% let i = 1; spotify.songs.forEach(song => { %>
                    <div class="song">
                        <span class="no"><%= i %></span>
                        <span class="artists">
                            <% i++; song.artists.forEach(artists => { %>
                                <span class="artist"><%= artists.name %></span>
                            <% }); %>
                        </span>
                        <span class="name"><%= song.name %></span>
                        <% if (song.preview) { %>
                        <audio class="audio" controls>
                            <source src="<%= song.preview %>" type="audio/mpeg">
                        </audio>
                        <% } %>
                    </div>
                <% }); %>
            </div>
        </div>
        <% } %>
        <% if (spotify.albums) { %>
            <div class="albums">
                <h3>Your favorite albums:</h3>
                <div class="albums-grid">
                    <% spotify.albums.forEach(album => { %>
                        <div class="album">
                            <div class="image">
                                <img src="<%= album.picture %>">
                            </div>
                            <div class="info">
                                <a href="<%= album.href %>" class="name" target="_blank"><%= album.name %></a>
                                <div class="artists">
                                <% album.artists.forEach(artist => { %>
                                    <a href="<%= artist.href %>" class="artist"><%= artist.name %></a>
                                <% }); %>
                                </div>
                                <div class="label"><%= album.label %></div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% } %>
    </div>

</div>
<% } %>

<!--<a href="/token" class="button">Token</a>-->